#add-project {
  position: absolute;
  top: 53px;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: none;
  background-image: url("addProject.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  
  z-index: 1;
}
#select-project{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.iphone-content {
  align-items: center;
  height: 100%;
}

img[alt="iPhone"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  height: 180%;
  overflow: hidden;
  z-index: 0;
}

#project-table {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  z-index: 1;
  table-layout: fixed;
  max-height: 550px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#project-table td, tr{
  display: block;
  height: 100px;
  width: 600px;
  /* border: 1px solid black; */
  align-items: center;
  text-align: center;
}
button{
  height: 100px;
  width: 600px;
}
/* #circle-button2 {
  position: absolute;
  top: 150px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f00;
  border: none;
  z-index: 1;
} */
